@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* got help from solution:  */
  flex: 1;
  gap: 16px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /* got help from solution: */
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
/* got help from solution:  */
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}

.footer {
  background: #eee;
}
/* got help from solution:  */
a {
  color: #666;
  text-decoration: none;
}